In [1]:
import pandas as pd
df = pd.read_csv('travel_tourism_dataset.csv')

In [3]:
num_observations = len(df)
num_columns = len(df.columns)
print("Number of observations:", num_observations)
print("Number of columns:", num_columns)

Number of observations: 3000
Number of columns: 13

In [4]:
df2 = df[df['Age'] < 30]
num_tourists_group_a = len(df2)
print("Number of tourists under the age of 30 (Group A):", num_tourists_group_a)

Number of tourists under the age of 30 (Group A): 598

In [8]:
df3 = df[(df['Age'] < 30) & (df['Stay'].str.contains('hotel', case=False, na=False))]
num_tourists_group_b = len(df3)
print("Number of tourists under the age of 30 who stayed in a hotel (Group B):", num_tourists_group_b)

Number of tourists under the age of 30 who stayed in a hotel (Group B): 146

In [10]:
df4 = df[(df['Age'] < 30) & (df['Stay'].str.contains('hotel', case=False, na=False)) & (df['Cost of Travel(Entire Trip)'] < 6000)]
num_tourists_group_c = len(df4)
print("Number of tourists under the age of 30 who stayed in a hotel and had a cost of travel less than $6000 (Group C):", num_tourists_group_c)

Number of tourists under the age of 30 who stayed in a hotel and had a cost of travel less than $6000 (Group C): 6

In [11]:
df5 = df4[df4['Nationality'] == 'China']
chinese_tourist_name = df5['First Name'].iloc[0] + " " + df5['Last Name'].iloc[0]
print("Name of the tourist from China in Group C:", chinese_tourist_name)

Name of the tourist from China in Group C: Jennifer Miller