In [1]:
import pandas as pd
df = pd.read_csv('job_postings.csv')

In [2]:
df.head()
df.columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15886 entries, 0 to 15885
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      15886 non-null  int64
 1   company_id                  15520 non-null  float64
 2   title                       15886 non-null  object
 3   description                 15885 non-null  object
 4   max_salary                  5521 non-null   float64
 5   med_salary                  981 non-null    float64
 6   min_salary                  5521 non-null   float64
 7   pay_period                  6502 non-null   object
 8   formatted_work_type         15886 non-null  object
 9   location                    15886 non-null  object
 10  applies                     8700 non-null   float64
 11  original_listed_time        15886 non-null  int64
 12  remote_allowed              2340 non-null   float64
 13  views                       13123 non-null  float64
 14  job_posting_url             15886 non-null  object
 15  application_url             9795 non-null   object
 16  application_type            15886 non-null  object
 17  expiry                      15886 non-null  int64
 18  closed_time                 928 non-null    float64
 19  formatted_experience_level  10984 non-null  object
 20  skills_desc                 144 non-null    object
 21  listed_time                 15886 non-null  int64
 22  posting_domain              9044 non-null   object
 23  sponsored                   15886 non-null  int64
 24  work_type                   15886 non-null  object
 25  currency                    6502 non-null   object
 26  compensation_type           6502 non-null   object
dtypes: float64(8), int64(5), object(14)
memory usage: 3.3+ MB

In [6]:
df2 = df[['title', 'min_salary', 'location']]

In [7]:
df3 = df2[df2['title'] == 'Sales Associate']
print(df3.shape)

(64, 3)

In [8]:
missing_salary_count = df3['min_salary'].isnull().sum()
print(missing_salary_count)
print(df3.shape[0])

54
64

In [10]:
(missing_salary_count / df3.shape[0]) * 100

84.375

In [11]:
df3 = df3.dropna(subset=['min_salary'])

In [13]:
df4 = df3[df3['min_salary'] > 20000]

In [14]:
min_salary_raleigh = df4[df4['location'] == 'Raleigh, NC']['min_salary'].min()
print(min_salary_raleigh)

50000.0